/*/venv/
/*/.vscode/
/*/*.iml
/.idea/
/*/.idea/

convention-service/*/HELP.md
convention-service/*/target/
convention-service/*/!.mvn/wrapper/maven-wrapper.jar
convention-service/*/!**/src/main/**/target/
convention-service/*/!**/src/test/**/target/
convention-service/*/.apt_generated
convention-service/*/.classpath
convention-service/*/.factorypath
convention-service/*/.project
convention-service/*/.settings
convention-service/*/.springBeans
convention-service/*/.sts4-cache
convention-service/*/.idea
convention-service/*/*.iws
convention-service/*/*.iml
convention-service/*/*.ipr
convention-service/*//nbproject/private/
convention-service/*//nbbuild/
convention-service/*//dist/
convention-service/*//nbdist/
convention-service/*//.nb-gradle/
convention-service/*/build/
convention-service/*/!**/src/main/**/build/
convention-service/*/!**/src/test/**/build/
convention-service/*/.vscode/

